* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

header,
form,
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
}